/*FORMATAÇÕES GERAIS*/
.espacamento {
	margin-left: 5%;
	margin-right: 5%;
}

.alinhamento-centro {
	text-align: center;
	align-content: center;
}

.alinhamento-justificado {
	text-align: justify;
}

.alinhamento-esquerda {
	text-align: left;
}

/*tamanhos de fonte*/
.fonte-titulo {
	font-size: 25px;
}

.fonte-corpo {
	font-size: 18px;
}

/*CABEÇALHO*/
.header{
	text-align: center;
	background-color: #017A06;
	width: 100%;
	height: auto;
	padding: 10px;
	color: white;
}

.header a {
	color: white;
	text-decoration: none;
	font-size: 0.7em;
}

/*MENU*/
.nav-estilo {
	font-size: 1.2em;
	font-weight: bold;
	padding:1em;
}

.nav-estilo a {
	color: #495057;
}

/*SEÇÃO*/
.secao {
	color: #363636;
	font-size: 23px;
	font-family: 'Open Sans', sans-serif;
}

.secao-borda {
	border-bottom: 3px solid #017A06;
	margin-left: 5%;
	margin-right: 5%;
}

/*CORPO*/

/*FOOTER*/
.footer {
	margin-top: 3em;
	background-color: #DCDCDC;
	height: 32em;
}

.footer img {
	padding-top: 4em;
	align-content: center;
}

.footer h5 {
	text-align: center;
}

.footer h6 {
	text-align: center;
}

/*FORMATAÇÕES GERAIS*/
@media screen and (min-width: 780px) {
	.espacamento {
	margin-left: 15%;
	margin-right: 15%;
	}

	.secao-borda {
	border-bottom: 3px solid #017A06;
	margin-left: 15%;
	margin-right: 15%;
	}
}